<ul>
  <% suggestion.changes.each do |action| %>
    <% (action.to_a[0].is_a?(Enumerable) ? action.to_a : [action.to_a]).each do |step| %>
      <li>
        <%= describe_step(step.to_a, :with_removal => true) %>
      </li>
    <% end %>
  <% end %>
</ul>