<ul>
  <% suggestion.changes.each do |action| %>
    <% (action.to_a[0].is_a?(Enumerable) ? action.to_a : [action.to_a]).each do |step| %>
      <li>
        <%= describe_step(step.to_a) %>
        <%= link_to_function "[x]", "prohibit_action('#{serialize_action(step.to_a)}', '#{escape_javascript(describe_step(step.to_a))}')", :class => 'unimportant' %>
      </li>
    <% end %>
  <% end %>
</ul>