language: ruby
script: bundle exec rake test
rvm:
  - 2.0
  - 2.1
  - 2.2
gemfile:
  - gemfiles/4.0.gemfile
  - gemfiles/4.1.gemfile
matrix:
  exclude:
    - rvm: 2.0.0
      gemfile: gemfiles/4.1.gemfile
